azure-ai-ml
azure-identity
Pillow
numpy
git+https://github.com/nasa/pretrained-microscopy-models
tensorboard
segmentation-models-pytorch
tqdm
opencv-python
lightning
python-dotenv
jsonargparse[signatures]
albumentations
scikit-learn
matplotlib
--extra-index-url https://download.pytorch.org/whl/cpu
torchmetrics
torch
torchvision
torchaudio
