Pillow
numpy
git+https://github.com/nasa/pretrained-microscopy-models
git+https://github.com/michaelschott00/mldb
tensorboard
segmentation-models-pytorch
tqdm
opencv-python
lightning
jsonargparse[signatures]
albumentations
scikit-learn
matplotlib
omegaconf
torchmetrics
torch
torchvision
torchaudio
